@use "/public/assets/scss/utils/colors" as c;

.modal {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.5rem);
  border: none;

  &__img-container {
    height: 70%;
    width: 60%;
    background-color: c.$color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__close {
    position: absolute;
    right: 3rem;
    top: 3rem;
    padding: 0.7rem;
    border: 1px solid c.$color-black;
    color: c.$color-black;
    background-color: c.$color-white;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.2rem;

    &:hover {
      border: 1px solid c.$color-primary;
      color: c.$color-primary;
    }
  }
}
