$color-white: #fff;
$color-grey-1: #f8f8fd;
$color-grey-2: #e5e0fc;
$color-grey-3: #8a8fb9;
$color-black: #101750;

$color-primary: #fb2e86;
$color-primary-dark: #f0056a;
$color-primary-light: #fc5fa2;

$color-secondary: #f9ba00;
$color-secondary-light: #fff3ce;

$color-tertiary: #7e33e0;
$color-bg: #f2f0ff;
$color-bg-unique: #f1f0ff;

$color-danger: #fb2448;
$color-danger-light: #feb9c4;

$color-info: #603eff;
$color-info-light: #ddd6ff;

$color-success: #0cc562;
$color-success-dark: #00994c;
$color-success-light: #92f2bf;

$default-box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
$light-box-shadow: 0 0rem 1rem rgba($color-black, 0.15);
$light-hover-box-shadow: 0 1.5rem 1.5rem rgba($color-black, 0.2);
$strong-box-shadow: 0 2rem 4rem rgba($color-black, 0.15);
$box-shadow: 0 0 2rem rgba($color-black, 0.2);
$box-hover-shadow: 0 2rem 1.5rem ($color-black, 0.1);
